<meta charset="UTF-8">

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Link</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">

</head>
<body>
   
<div class="container">

   <div class="content">
      <div class="sp1"><h1> Failure <span>Prediction</span></h1></div>
      
      <a href="FCNN" class="btn">ANN</a>
      <a href="FXGB" class="btn">XGB</a>
      <a href="FSVC" class="btn">SVC</a>
      <a href="FLSTM" class="btn">LSTM</a>
     
   </div>

</div>

</body>
</html>