<meta charset="UTF-8">

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Link</title>
   {% load static %}
   <link rel="stylesheet" href="static/css/homestyle.css">
   

</head>
<body>
   
<div class="container">

   <div class="content">
      <h3> <span></span></h3>
      <h1>Welcome to Machine Analysis tool</span></h1>
      <a href="failureprediction" class="btn">Failure prediction</a>
      <a href="Oilanalysis" class="btn">Oil prediction</a>
     
     
   </div>

</div>

</body>
</html>